# More Calculator

Calculate `4+5` by replacing the line `CODE` with `4+5` and then execute
it by hitting the *Run Cell* button

In [ ]:
CODE

Calculate `4*5`

In [ ]:
CODE

Calculate `4-5`

In [ ]:
CODE

Calculate `4/5`

In [ ]:
CODE

Calculate `4**2`

In [ ]:
CODE

Check $4^2=4(4)=16$

Calculate `5**6`

In [ ]:
CODE

Check $5^6=(5)(5)(5)(5)(5)(5)=15625$

Calculate `sqrt(36)`

In [ ]:
CODE

Check: $$ \sqrt{ 36 } = 6 $$

Find `round(2.45)`

In [ ]:
CODE

The answer should be 2

Find `math.ceil(2.45)`

In [ ]:
CODE

The answer should be 3

Find `24%10`, which is the remainder of $24/10$

In [ ]:
CODE

Put parentheses in the expression `4+2*3` so it gives 18.

As is, it is 10

In [ ]:
4+2*3

Put parentheses in the expression `4*5+3` so it gives 32.

As is, it is 23

In [ ]:
4*5+3

Put parentheses in the expression `20/4*5` so it gives 1.

As is, it is 25

In [ ]:
20/4*5

Put parentheses in the expression `2*9/3*2-1` so it gives 2.

As is, it is 11

In [ ]:
2*9/3*2-1

The code below generates an error.

In [ ]:
sqrt(49)

Produce a correct version that computes the square root of 49, which is
7

The code below generates an error.

In [ ]:
ceil(9.45)

Produce a correct version below with no errors and that gives 10

The code below generates an error.

In [ ]:
floor(9.45)

Produce a correct version below with no errors and that gives 9

Below we are trying to print out the two expressions: `3-4` and `5+8`.

In [ ]:
3-4
5+8

But it only prints out the second one.

Produce a correct version by using the `print` function: